html {
    background-color: black;
}

#calculator {
    border: solid 1px black;
    width: 300px;
}

#display {
    background-color: #6661e7;
    width: 292px;
    height: 50px;
    font-size: 30px;
}

#first-key {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 60px;
}

#second-key {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 60px;
}

#third-key {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 60px;
}

#fourth-key {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 60px;
}

#fifth-key {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60px;
}

button {
    background-color: #221e92;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#equal-sign {
    background-color: #131151;
}
